@model WeatherApp.MVC.Models.PostViewModel

@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>


        <form asp-controller="Image" asp-action="Add">
            <div class="form-group">
   
                <input type="file" id="file" name="file" class="box" />

               <input type="submit" value="Upload" id="btnSubmit" class="btn btn-default" />

            </div>
        </form>
    