@{
    ViewData["Title"] = "Login Page";
}
@model WeatherApp.ClientMVC.Models.LoginViewModel


<div>
    <h3> @ViewData["Title"] </h3>
    <form asp-controller="Login" method="post">
    <label>Login Below</label><br>
    <label>Don't have an account yet? <a href='@Url.Action("Index", "Register")' class="elements" method="get">
          <span>Click Here</span>
     </a></label>
        <div class="form-group">
            <label>Email: </label>
            <input asp-for="Email" autocomplete="off" />
        </div>
        <div class="form-group">
            <label>Password: </label>
            <input asp-for="Password" autocomplete="off" type="password" />
        </div>
        <button type="submit">Login to See Weather Data</button>
    </form>
</div>
