@{
    ViewData["Title"] = "Index";
}
@model WeatherApp.ClientMVC.Models.MakeAPostViewModel

<h2>Make a Post</h2>

<form asp-controller="MakeAPost" method="post">
    <p>Create a New Post, @Model.User.FirstName @Model.User.LastName</p>

    @*<div class="form-group">
            <label>Image File:</label>
            <input type="text" class="form-control" name="NewPost.ImageFile" placeholder="Enter Weather Image"><br>
        </div>

        <div class="form-group">
            <label>Blog Post</label>
            <input type="text" class="form-control" name="NewPost.BlogPost" placeholder="Enter Weather Blog Post"><br>
        </div>*@
    <div class="form-group">
        <div class="container">
            <label>Image File</label>
            <input asp-for="NewPost.ImageFile" type="file" value="" />
        </div>
    </div>

    <div class="form-group">
        <div class="container">
            <label>Blog Post</label>
            <input asp-for="NewPost.BlogPost" value="" />
        </div>
    </div>


    <button type="submit" class="btn btn-success">Make this post about the Weather</button>

</form>